{{define "subject"}}Підтвердіть вашу підписку{{end}}

{{define "plain"}}
Будь ласка, підтвердіть вашу підписку за цим посиланням:
{{.confirm_url}}
{{end}}

{{define "html"}}
<p>Будь ласка, підтвердіть вашу підписку:</p>
<p><a href="{{.confirm_url}}">Натисніть сюди для підтвердження</a></p>
{{end}}